// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.letter {
  width: 60px;
  color: whitesmoke;
  font-weight: bolder;
  text-align: center;
  background-color: steelblue;
}
